# Gradle / build outputs
.gradle/
build/
**/build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Keystores (don’t commit)
*.jks
*.keystore

# Kotlin/Java class files
*.class

# Android Studio captures
captures/
.externalNativeBuild/
.cxx/

# KSP/KAPT
**/ksp/
**/kapt/

# Firebase
google-services.json

.idea/
